<h1>All Events Nationwide</h1>

<h4> <%= link_to "Create New Event", new_contact_event_path %> </h4>

<div class="row">
  <div class="col-md-12">

    <table class="table">

      <thead>
        <th>Name</th>
        <th>Primary Group</th>
        <th>Description</th>
        <th>Start Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Location</th>
        <th>Zipcode</th>
        <th>Top Interest</th>
        <th># Attending</th>
      </thead>

      <tbody>
        <% @events.each do |event| %>
        <tr>
          <th scope="row"> <%= link_to event.name, event_path(event) %></th>
            <td> <%= link_to event.groups.first.name, groups_path if event.groups.exists? %> </td>
            <td> <%= event.description %> </td>
            <td> <%= event.human_dates[0] %></td>
            <td> <%= event.human_times[0] %></td>
            <td> <%= event.human_times[1] %></td>
            <td> <%= event.location %></td>
            <td> <%= event.zipcode %></td>
            <td> <%= link_to event.interests.first.name, interests_path if event.interests.exists? %> </td>
            <td> <%= event.users.count if event.users.exists? %></td>
          </tr>
        <% end %>
      </tbody>

    </table>
  </div>
</div>


<!-- Events by Date -->

<!-- Events by Group -->

<!-- Events by Interest -->
