<h1><%= @interest.name %></h1>

<div class="container">

  <div class="col-md-6 text-center">
    <h3>Groups</h3>
    <% if @interest.groups.empty? %>
      <h2>no groups for this interest yet!</h2>
    <% else %>
      <table class="table">
      <tbody>
        <% @interest.groups.each do |group| %>
          <tr>
            <th scope="row" class="text-center"><%= link_to group.name, group_path(group) %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>

  <div class="col-md-6">
    <h3>Events</h3>
    <% if @interest.events.empty? %>
      <h2>no events for this interest yet!</h2>
    <% else %>
    <table class="table">
      <tbody>
        <% @interest.events.each do |event| %>
          <tr>
            <th scope="row" class="text-center"><%= link_to event.name, event_path(event) %> - <%= event.human_dates[0] %></th>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  </div>
</div>


<% if current_user && current_user.default? %>
  <h3> <%= link_to "Add to Your Interests", default_user_interest_path(@interest), method: :put %></h3>
<% elsif current_user && current_user.contact? %>
<% else %>
  <h3> <%= link_to "Login to Get Involved", login_path %> </h3>
<% end %>
